<div class="success-container">
  <section>
    <h1>Application Successful</h1>
    <p>
      Thank you for applying. Your information has been received successfully
      and your application process have started. We have sent you an email to
      confirm your application. For more enquires, contact us through our mail
      at <i>contact@saviour.com</i>
    </p>
    <button sui-button suiEmphasis="primary" [routerLink]="['']">
      Go back Home
    </button>
  </section>
  <section>
    <img src="/assets/success.svg" alt="Success Img" />
  </section>
</div>
